* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #bb98ff;
  font-family:
    'Trebuchet MS',
    'Lucida Sans Unicode',
    'Lucida Grande',
    'Lucida Sans',
    Arial,
    sans-serif;
}

ul {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
  font-family: Geneva, Tahoma, sans-serif;
  font-size: 1.2rem;
}

input:focus {
  outline: none;
}

input::placeholder {
  font-style: italic;
  color: #ddcbff;
}

button {
  background: none;
  border: none;
}

main {
  min-height: 70vh;
}

footer {
  text-align: center;
  color: white;
  margin-top: 1rem;
  padding: 2rem;
}

.navbar {
  background-color: #fff;
  margin-bottom: 3rem;
  padding: 0.25rem 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  color: #8a2be2;
  text-decoration: none;
  text-transform: uppercase;
}

.time-block {
  display: flex;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.9rem;
  font-weight: 700;
  color: #4a1e9e;
}

#clock {
  border: solid 3px #8a2be2;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  padding: 0.5rem;
}

#date {
  padding: 0.5rem;
  border: solid 3px #8a2be2;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  background-color: #8a2be2;
  color: #fff;
}

#todo-section {
  background-color: #fff;
  width: 60%;
  margin: auto;
  border-radius: 0.25rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0 19px 38px, rgba(0, 0, 0, 0.22) 0 15px 12px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #8a2be2;
  padding: 1rem;
}

#refresh-btn {
  color: #8a2be2;
  font-size: 1.2rem;
  transition: all 0.3s;
}

#refresh-btn:hover {
  transform: scale(1.4) rotateZ(90deg);
}

.input-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#new-task-input {
  padding: 0.5rem 0.75rem;
  width: 80%;
}

.msg-box {
  font-style: italic;
  font-size: 0.8rem;
  color: #747474;
  padding: 0.5rem;
  display: none;
}

.key-tag {
  border: solid 1px #747474;
  border-radius: 3px;
  text-transform: uppercase;
  font-style: normal;
}

.input-container:focus-within .msg-box {
  display: block;
}

#todo-container {
  display: flex;
  flex-direction: column;
}

#todo-container li {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-top: solid 1px #333;
}

.task-input {
  flex: 1;
  text-transform: capitalize;
}

#todo-container button {
  font-size: 1.3rem;
}

.remove-btn {
  display: none;
  color: crimson;
  transition: all 0.1s;
}

.drag-btn {
  cursor: grab;
}

.remove-btn:hover {
  transform: scale(1.2);
}

#todo-container li:focus-within {
  background-color: #ddcbff;
}

#todo-container li:focus-within .remove-btn {
  display: block;
}

#todo-container li:focus-within .drag-btn {
  display: none;
}

#clear-btn {
  width: 100%;
  padding: 1rem;
  text-align: center;
  font-size: 1.3rem;
  border-top: solid 1px #747474;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a1e9e;
  cursor: pointer;
  transition: all 0.4s;
}

#clear-btn:hover {
  box-shadow: inset 0 -5em 0 0 #4a1e9e;
  color: #fff;
}
